.alert {
    -fx-background-color: linear-gradient(to right bottom, #f6d365 0%, #fda085 100%);
}

.button {
    -fx-background-color: #000;
    -fx-text-fill: #fff
}

.button:hover{
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}