.left-top {
    -fx-background-color: #ebc95e;
    -fx-background-radius: 0 0 50 50;
}

.button {
    -fx-background-color: #ebc95e;
    -fx-background-radius: 50;
}

.white-bg {
    -fx-background-color: #fff;
}

.header {
    -fx-background-color: #ebc95e;
}

.scroll-pane {
    -fx-background-color: rgba(0, 0, 0 , 0);
}

.scroll-bar {
   -fx-font-size: 20px;
}