.left-top {
    -fx-background-color: #ffbd33;
    -fx-background-radius: 0 0 50 50;
}

.button {
    -fx-background-color: #fff;
    -fx-background-radius: 50;
}

.yellow-bg {
    -fx-background-color: #ffbd33;
}

.scroll-pane {
    -fx-background: #ffbd33;
}

.scroll-bar {
    -fx-font-size: 20px;
}

.button {
   -fx-background-color:  linear-gradient(to right bottom, #f6d365 0%, #fda085 100%);
}

.button:hover{
    -fx-background-color:  linear-gradient(to left top, #f6d365 0%, #fda085 100%);
}